.container-image
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: rgb(15, 120, 206);
  text-align: center;
  color: white;
  font-size: 30px;
}

.container-image img
{
  width: 100%;
  height: 50vh;
}



.main_container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-login
{
  position: relative;
  width: 40%;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: -7px 8px 4px -3px rgb(58, 74, 84);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-data
{
  position: relative;
  display: block;
}

.title
{
  position: relative;
  color: rgb(96, 96, 96);
}

.image_logo
{
  position: relative;
  width: 135px;
}

.section-button
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr
{
  color: #F8701B;
}

.btn-login {
  font-family: Courier New;
  color: #ffffff;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 1px 1px 3px #666666;
  border: solid #939393 2px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#626262), to(#979797));
  background: -moz-linear-gradient(top, #999999, #b8b8b8);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f56d18, endColorStr=#f7b48b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f56d18, endColorStr=#f7b48b);
  transition: all ease-in 600ms;
  display:inline-block; /* IE is so silly */
}
.btn-login:hover {
  background: #eb740c;
  border: solid #ef630c 2px;
}
